
/*
hoem
*/
.new .float figure{
    float: right;
    margin-right: 0;
}
.new .float2{
    float: right;
    margin-right: 0;
}
.new .float3{
    float: left;
    margin: 0;

}




/*
 *  general styles
 */

.new {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.new h2 {
    color: hsl(210, 50%, 40%);
    font-size: 250%;
    margin-top: 60px;
}

.new h3 {
    font-size: 200%;
    margin: 20px 0 20px;
    /*overflow: hidden;*/
}
.new h4 {
    font-family: 'Montserrat', sans-serif;
    color:  hsl(210, 40%, 50%);
    margin: 20px 0;
    font-size: 150%;
}
.new h5 {
    color: hsl(217, 3%, 50%);
    margin: 20px 0;
    font-size: 130%;
}
.new h6{
    font-size: 120%;
}


.new a {
    text-decoration: none;
}
.new a:hover {
    text-decoration: underline;
}


/********************************************/
/*   Program                                */
/********************************************/

.new li > a,
.new li > a:visited {
    text-decoration: none;
    color: inherit;
}

.new #program {
    margin: 40px 20px;
    font-size: 150%;
    float: left;
}
.new #program li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.new #program li:hover {
    /*background: #f4f4f4;*/
    /*color: #474;*/
    color: #369;
}

.new #program li:hover a {
    text-decoration: none !important;
}
.new #program li > a {
    display: block;
    padding: 15px 20px;
}

.new .note {
    font-family: verdana;
    color: hsl(210, 50%, 40%);
    font-size: 48%;
    margin-left: 40px;
    font-weight: normal;
}

.new .discussion-icon,
.new .discussion {
    color: #c44;
}

.new .discussion::after {
    content: "■";
    font-size: 200%;
    color: #c44;
    position: relative;
    top: 5px;
}
.new .hands-on-project-icon,
.new .hands-on-project {
    color: #ca4;
}

.new .hands-on-project::after {
    content: "■";
    font-size: 200%;
    color: #ca4;
    position: relative;
    top: 5px;
}

.new .closing-ceremony-icon,
.new .closing-ceremony {
    color: #474;
}

.new .closing-ceremony::after {
    content: "■";
    font-size: 200%;
    color: #474;
    position: relative;
    top: 5px;
}

.new .project-presentation-icon,
.new .project-presentation {
    color:hsla(57, 68%, 68%, 1);
}
.new .project-presentation::after {
    content: "■";
    font-size: 200%;
    color: hsla(57, 68%, 68%, 1);
    position: relative;
    top: 5px;
}

.new .speaches-icon,
.new .speaches {
    color: #369;
}
.new .speaches::after {
    content: "■";
    font-size: 200%;
    color: #369;
    position: relative;
    top: 5px;
}
.new .date {
    width: 120px;
    float: left;
    color: #333;
}

.new .topic {
    margin-left: 120px;
    font-weight: bold;
}

/*
 *   Schedule
 */

.new .schedule {
    margin: 0px 20px;
    padding-left: 0px;
    margin-left: 0px;
}

.new .schedule > li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 3px #eee solid;
    list-style: none;
    padding: 0;
    margin: 0;
}

.new .schedule > li:last-of-type {
    border-bottom: none;
}

/* header-date */

.new .header-date {
    background: black;
    text-align: center;
    width: 100px;
    padding: 10px 20px;
    margin: 10px 20px;
    color: white;
    font-weight: normal;
    display: block;
    float: left;
}

.new .header-title {
    margin-left: 180px;
    padding: 20px;
}

/* time */
.new .time {
    float: left;
    width: 100px;
    padding: 40px;
}

.new .time time {
    display: block;
    text-align: center;
}

.new .timedate {
    display: none !important;
}

.new .time-start {
    font-size: 200%;
}

.new .time-end {
    font-size: 100%;
    color: grey;
}

/* session */

.new .session-header {

}

.new .session {
    margin-left: 160px;
    padding: 20px
}

.new .session h5 {
    margin: 20px 0;
    font-size: 200%;
    color: #474;
}
.new .session h4 {
    margin: 20px 0;
    font-size: 130%;
    color: #528952;
}

.new .session .speaker {
    font-size: 150%;
    color: grey;
}

.new .session .speaker li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.new .session .from {
    color: grey;
}

.new .session.break h4 {
    font-size: 200%;
    color: #aaa;
}

/********************************************/
/*   Accommodation                          */
/********************************************/


.new figure.hero {
    max-width: 1280px;
    margin: 0px auto;
    margin-bottom: 40px;
}

.new figure.hero img {
    width: 100%;
}
.new figure.hero figcaption {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #222;
    font-size: 105%;
    /*width:40%;*/
    /*text-align: left;*/
    }
.new figure.hero figcaption#formal {
    font-family: 'Roboto Slab';
    color: #333;
    font-size: 100%;
    text-align:center;
}
.new #quote {
    font-family: 'Roboto Slab';
    font-style: italic;
    color: #333;
    font-size: 100%;
    text-align:justify;
}
.new figure.hero figcaption a:visited {
    color: inherit;
    text-align: left;
    float: left;
    position: relative;
    bottom: 0px;
    left: 0px;

}

.new a:-webkit-any-link{
    /*text-decoration:none !important;*/
}
/*.new .box{
  text-align: left;
  background: black;
  color: white;
  overflow: hidden;
  }

.new .box p{
  font-family: 'PT Sans Narrow';
  float: left;
  font-size: 160%;
  width: 50%;
  }
.new .box img{
  float: right;
  width:50%;
  min-width:100px*/

/*}*/
.new .box{
    overflow: hidden;
}
.new .linkcaption1 {
    color: hsl(210, 50%, 40%) !important;
    font-size: 120%;
}

.new .linkcaption1:hover {
    color:  hsl(210, 40%, 40%) !important;
}
.new .linkcaption2 {
    color: #261 !important;
    font-size: 120%;
}

/********************************************/
/*   General                                */
/********************************************/

.new .detail {
    float: left;
    width: 70%;
}

.new .speaker{
    list-style: none;
    padding: 0;
    margin: 0;
}
.new .speaker-list{
    padding-left:0;
}
.new .speaker:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.new .detail ul {
    margin: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.new .detail-header-outer {
    width: 30%;
    display: inline-block;
    float: left;
}

.new .detail-header {
    padding: 10px 20px;
    font-weight: bold;
}

.new .detail-body-outer {
    width: 70%;
    display: inline-block;
}
.new .detail-description{
    float: left;
    padding-left: 20px;
    font-size:50%;
    margin-bottom: 20px;

}

.new .detail-body {
    padding: 10px 2px 10px 20px;


}
/********************************************/
/*   Transportation                         */
/********************************************/
.new ol.none {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}
.new ul.none {
    /*margin: 20px;*/
    list-style: none;
    /*padding-left: 40px;*/
    margin: 0;
}



.new table.wb {
    border-spacing: 5px;
    border-color: #222 !important;
    padding-top:30px;
    border-bottom: 1px #ccc solid;
}

.new  table.wb td.category{
    color: #777;
    font-size: 12px;
    text-align: left;
}


.new  table.wb th.category_col{
    background: #222;
    color: #fff;
    font-size: 12px;
    text-align: left;
}



/* pics */
.new .picture {
    float: left;
    width: 30%;
}
.new .picture > figure {
    margin: 20px;
    /*background: red;*/
}
.new .picture2{
    margin: 20px 68px;
    border: 0px;
}
.new figure.conf{
    width: 40%;
    float: left;
    margin:13px 20px;
}
.new figure.conf figcaption{
    font-family: 'Roboto Slab';
    color: #333;
    font-size: 100%;
    text-align:center;
}



.new #prog {
    width: 640px;
    border-spacing: 10px;
    margin: 20px 0;
    margin-top: 50px;
}

.new #prog th,
.new #prog td {
    padding: 0;
    margin: 0;
}

.new #prog td a{
    padding: 20px 25px;
}

.new #prog th {
    width: 50px;
}

.new .prog-day {
    color: #aaa;
}

.new .prog-session {
    height: 50px;
}

.new .prog-time {
    width: 50px;
    color: #aaa;
}
.new .prog-speech {
    background: #369;
}

.new .prog-speech:hover{
    background: hsla(210, 50%, 19%, 1);
}


.new .prog-opening-and-closing-ceremony{
    background: #d82;
    width: 50px;
}
.new .prog-brainstorm{
	background: hsla(47, 79%, 41%, 1);
    width: 50px;
}
.new .prog-forum {
    background: #c44;
}
.new .prog-forum:hover{
    background: hsla(0, 57%, 20%, 1);
}
.new .prog-break {
    text-align: center;
    color: #aaa;
}
.new .prog-hands-on-project {
    background: #474;
}

.new .prog-hands-on-project:hover {
    background: hsla(120, 27%, 19%, 1);
}

.new .prog-others {
    width: 50px;
    background: #888;
}

.new #prog-color {
    font-size: 120%;
}
.new #prog-color li {
    padding-left: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.new #prog-color li::before {
    content: "■ ";
    font-size: 150%;
    position: relative;
    top: 5px;
}
.new .prog-color-speech { color: #369; }
.new .prog-color-forum { color: #c44; }
.new .prog-color-hands-on-project { color: #474; }
.new .prog-color-opening-and-closing-ceremony { color:#d82; }
.new .prog-color-braninstorm { color:hsla(47, 79%, 41%, 1) ; }
.new .prog-color-others { color: #555; }

/*Video*/
.vedio-container{
    max-width: 1280px;
    margin: 5px 68px;
}
       
.new .typeab                                                                                                                                                                                                                                                                                                {
    list-style-type: lower-alpha;
}
